0. Импортируйте библитоеки ```Pandas``` и ```NumPy``` с псевдонимами **```pd```** и **```np```** соответственно.

In [1]:
import numpy as np
import pandas as pd

1. Напишите программу с использованием ```Pandas``` для создания массивоподобной структуры, из обычного списка ```Python```.
Например ```[2,4,6,8,10]```.

In [2]:
pd.array([2,4,6,8,10])

<IntegerArray>
[2, 4, 6, 8, 10]
Length: 5, dtype: Int64

2. Напишите программу с использованием ```Pandas```, которая конвертирует созданный в задаче 1 объект в обычный список ```Python```. Отобразите типы этих двух объектов.

In [4]:
pd_array = pd.array([2,4,6,8,10])
python_array = pd_array.tolist()
print(type(pd_array))
print(type(python_array))

<class 'pandas.core.arrays.integer.IntegerArray'>
<class 'list'>

3. Напишите программу с использованием ```Pandas```, которая суммирует, вычитает, умножает и делит два объекта типа ```Series``` поэлементно.
Например ```[1,3,5,7,9]``` и ```[2,4,6,8,10]```.

In [5]:
first = pd.Series([1, 3, 5, 7, 9])
second = pd.Series([2, 4, 6, 8, 10])
print(first + second)
print(first - second)
print(first * second)
print(first / second)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0   -1
1   -1
2   -1
3   -1
4   -1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    0.500000
1    0.750000
2    0.833333
3    0.875000
4    0.900000
dtype: float64

4. Напишите программу с использованием ```Pandas```, которая сравнивает два объекта ```Series``` поэлементно. С помощью операторов ```<```, ```>```, ```=```.

In [8]:
first = pd.Series([1, 3, 5, 7, 9])
second = pd.Series([1, 3, 6, 8, 10])
print(first > second)
print(first < second)
print(first == second)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    False
1    False
2     True
3     True
4     True
dtype: bool
0     True
1     True
2    False
3    False
4    False
dtype: bool

5. Напишите программу с использованием ```Pandas```, которая преобразует словарь ```{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}``` в объект ```Series```.

In [9]:
pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Напишите программу с использованием ```Pandas```, которая конвертирует ```NumPy``` массив ```[10 20 30 40 50]``` в объект ```Series```.

In [10]:
pd.Series([10, 20, 30, 40, 50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Напишите программу с использованием ```Pandas```, которая преобразует тип данных объекта ```Series``` в тип ```float64```.

Входной объект:

| ind | value  |
|---	|--------|
| 0 	| 100    |
| 1 	| 200    |
| 2 	| python |
| 3 	| 300.12 |
| 4 	| 400    |

In [15]:
t = pd.Series([100, 200, "python", 300.12, 400])
pd.to_numeric(t, errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Напишите программу с использованием ```Pandas```, которая преобразует первый столбец объекта ```DataFrame``` в объект ```Series```.

In [18]:
dataframe = pd.DataFrame(data={'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]})
print("Original DataFrame")
dataframe['col1']

Original DataFrame

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

9. Напишите программу с использованием ```Pandas```, которая преобразует указанный ```Series``` в массив ```NumPy```.

Входной объект:

| ind | value  |
|---	|--------|
| 0 	| 100    |
| 1 	| 200    |
| 2 	| python |
| 3 	| 300.12 |
| 4 	| 400    |

In [23]:
pd.to_numeric(pd.Series([100, 200, "python", 300.12, 400]), errors='coerce').to_numpy(dtype=np.float32)

array([100.  , 200.  ,    nan, 300.12, 400.  ], dtype=float32)

10. Напишите программу с использованием ```Pandas```, которая преобразует ```Series``` списков в обычный объект ```Series```.

Вход:

|   |   |
|---|---|
| ```0``` | ```[Red, Green, White]```  |
| ```1``` | ```[Red, Black]``` |
| ```2``` | ```[Yellow]``` |

Выход:

|   |   |
|---|---|
|```0```|```Red```|
|```1```|```Green```|
|```2```|```White```|
|```3```|```Red```|
|```4```|```Black```|
|```5```|```Yellow```|

In [25]:
pd.Series([["Red", "Green", "White"], ["Red", "Black"], ["Yellow"]]).explode(ignore_index=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Напишите программу с использованием ```Pandas```, которая сортирует указанный ```Series```

| ind | value  |
|---	|--------|
| 0 	| 100    |
| 1 	| 200    |
| 2 	| python |
| 3 	| 300.12 |
| 4 	| 400    |

In [29]:
pd.to_numeric(pd.Series([100, 200, "python", 300.12, 400]), errors='coerce').sort_values()

0    100.00
1    200.00
3    300.12
4    400.00
2       NaN
dtype: float64

12. Напишите программу с использованием ```Pandas```, которая добавляет какие-нибудь данные в указанный ```Series```.

| ind | value  |
|---	|--------|
| 0 	| 100    |
| 1 	| 200    |
| 2 	| python |
| 3 	| 300.12 |
| 4 	| 400    |

In [32]:
t = pd.Series([100, 200, "python", 300.12, 400])
t[5] = 'Z'
t

0       100
1       200
2    python
3    300.12
4       400
5         Z
dtype: object

13. Напишите программу с использованием ```Pandas```, которая создает подмножество данного ```Series``` по некоторому условию (неравенству).

In [33]:
data = pd.Series([1, 100, 1000, 228])
data[data > 100]

2    1000
3     228
dtype: int64

14. Напишите программу с использованием ```Pandas```, которая изменяет порядок индексов указанного объекта ```Series```.

Например

|   |   |
|---|---|
|```A```|```1```|
|```B```|```2```|
|```C```|```3```|
|```D```|```4```|
|```E```|```5```|

преобразуется в

|   |   |
|---|---|
|```B```|```2```|
|```A```|```1```|
|```C```|```3```|
|```D```|```4```|
|```E```|```5```|

In [34]:
pd.Series(index=['a', 'b', 'c', 'd', 'e'], data=[1, 2, 3, 4, 5]).sample(frac=1)

a    1
c    3
d    4
b    2
e    5
dtype: int64

15.  Напишите программу с использованием ```Pandas```, которая вычисляет среднее значение и стандартное отклонение указанного объекта ```Series```.

In [37]:
data = pd.Series([1, 2, 3, 4, 5])
print("mean: ", data.mean())
print("std", data.std())

mean:  3.0
std 1.5811388300841898

16. Напишите программу с использованием ```Pandas```, которая выводит те элементы первого объекта ```Series```, которые не встречаются во втором объекте ```Series```.

In [40]:
series1 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series2 = pd.Series(['c', 'd', 'f', 'g'])
series1[~series1.isin(series2)]

0    a
1    b
4    e
dtype: object

17. Напишите программу с использованием ```Pandas```, которая выводит те элементы двух ```Series```, которые не являются общими для обоих.

In [46]:
series1 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series2 = pd.Series(['c', 'd', 'f', 'g'])
pd.concat([series1, series2]).drop_duplicates(keep=False)

0    a
1    b
4    e
2    f
3    g
dtype: object

18. Напишите программу с использованием ```Pandas```, которая вычисляет минимум, 25-й процентиль, медиану, 75-й процентиль и максимум указанного объекта ```Series```.

In [48]:
data = pd.Series([10, 15, 8, 21, 14, 18, 9, 24, 17, 19])
print(data.min())
print(data.quantile(0.25))
print(data.median())
print(data.quantile(0.75))
print(data.max())

8
11.0
16.0
18.75
24

19. Напишите программу с использованием ```Pandas```, которая вычисляет частоту для каждого уникального элемента указанного объекта ```Series```.

In [53]:
data = pd.Series([1, 1, 1, 2, 3, 3]).value_counts()
data

1    3
3    2
2    1
Name: count, dtype: int64

20. Напишите программу с использованием ```Pandas```, которая отображает самое частое значение в заданном ```Series```, а все остальные значения заменяет на ```Other```.

In [58]:
data = pd.Series(['apple', 'banana', 'apple', 'orange', 'banana', 'apple'])
value_counts = data.value_counts()
data.replace(value_counts.index[value_counts != value_counts.max()], 'Other')

0    apple
1    Other
2    apple
3    Other
4    Other
5    apple
dtype: object

In [67]:
pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry']).iloc[[1, 3]]

1    banana
3      date
dtype: object

22. Напишите программу с использованием ```Pandas```, которая извлекает из заданного ```Series``` элементы, стоящие на указанных местах.

In [79]:
series1 = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
series2 = pd.Series(['banana', 'cherry', 'elderberry', 'fig', 'grape'])
series2[np.nonzero(np.isin(series2, series1))[0]]

0        banana
1        cherry
2    elderberry
dtype: object

23. Напишите программу с использованием ```Pandas```, которая находит позиции элементов заданного ```Series``` в другом заданном ```Series```.

In [90]:
data = pd.Series(['hello world', 'pandas is great', 'python programming'])
data.apply()
data = data.str.capitalize()
data.apply(lambda x: x[:-1] + x[-1].upper())

0           Hello worlD
1       Pandas is greaT
2    Python programminG
dtype: object

24. Напишите программу с использованием ```Pandas```, которая преобразует первый и последний символ каждого слова в заданном ```Series``` в верхний регистр.

In [91]:
pd.Series(['hello world', 'pandas is great', 'python programming']).str.len()

0    11
1    15
2    18
dtype: int64

25. Напишите программу с использованием ```Pandas```, которая вычисляет количество символов в каждом слове в заданном ```Series```

In [92]:
data = pd.Series([10, 20, 30, 40, 50])

diff1 = data.diff()
diff2 = diff1.diff()

print(data, diff1, diff2)

0    10
1    20
2    30
3    40
4    50
dtype: int64 0     NaN
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64 0    NaN
1    NaN
2    0.0
3    0.0
4    0.0
dtype: float64

26. Напишите программу с использованием ```Pandas```, которая вычисляет разницу между разницами последовательных чисел в заданном ```Series```.

In [93]:
pd.to_datetime(pd.Series(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04']))

0   2022-01-01
1   2022-01-02
2   2022-01-03
3   2022-01-04
dtype: datetime64[ns]

27. Напишите программу с использованием ```Pandas```, которая преобразует ```Series```, содержащий строковые представления дат в ```timeseries```.

In [96]:
dates = pd.Series(['2024-01-01', '2024-02-15', '2024-03-30'])
dates = pd.to_datetime(dates)

day_of_month = dates.dt.day
day_of_year = dates.dt.dayofyear
week_number = dates.dt.isocalendar().week
day_of_week = dates.dt.day_name()

result = pd.DataFrame({
    'Date': dates,
    'Day of Month': day_of_month,
    'Day of Year': day_of_year,
    'Week Number': week_number,
    'Day of Week': day_of_week
})

print(result)

        Date  Day of Month  Day of Year  Week Number Day of Week
0 2024-01-01             1            1            1      Monday
1 2024-02-15            15           46            7    Thursday
2 2024-03-30            30           90           13    Saturday

28. Напишите программу с использованием ```Pandas```, которая получает день месяца, день года, номер недели, и день недели для каждого элемента заданного ```Series```, содержащего строковые представления дат.

In [97]:
data = pd.Series(['01-2022', '02-2022', '03-2022', '04-2022'])
day = 1
dates = pd.to_datetime(data + '-' + str(day), format='%m-%Y-%d')

print(dates)

0   2022-01-01
1   2022-02-01
2   2022-03-01
3   2022-04-01
dtype: datetime64[ns]

29. Напишите программу с использованием ```Pandas```, которая преобразует ```Series``` содержащий строковые представления вида ```"месяц-год"``` в ```Series```, содержащий даты, подставляя в качестве дня указанное число.

In [99]:
data = pd.Series(['01-2022', '02-2022', '03-2022', '04-2022'])
day = 1
dates = pd.to_datetime(data + '-' + str(day), format='%m-%Y-%d')
dates

0   2022-01-01
1   2022-02-01
2   2022-03-01
3   2022-04-01
dtype: datetime64[ns]

30. Напишите программу с использованием ```Pandas```, которая выбирает из указанного ```Series``` все слова, в которых содержится хотя бы две гласных буквы.

In [100]:
arr = pd.Series(['aba', 'zxc', 'eub'])

def count_vowels(word):
    vowels = set('aeiou')
    return sum(1 for letter in word if letter.lower() in vowels)

arr[arr.apply(lambda x: count_vowels(x) >= 2)]

0    aba
2    eub
dtype: object

31. Напишите программу с использованием ```Pandas```, которая вычисляет евклидово расстояние между двумя заданными ```Series```.

In [103]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([5, 4, 3, 2, 1])

dist = np.sqrt(((s1 - s2) ** 2).sum())
dist

6.324555320336759

32. Напишите программу с использованием ```Pandas```, которая находит позиции элементов заданного ```Series```, которые окружены меньшими значениями с обеих сторон.

In [104]:
s = pd.Series([10, 90, 10, 90, 10, 6, 10])
result = s[(s.shift(1) < s) & (s.shift(-1) < s)].index
result

Index([1, 3], dtype='int64')

33. Напишите программу с использованием ```Pandas```, которая заменяет в заданной строке все прбелы на самый частый символ.

In [105]:
old = "Hello world!"
s = old
s = pd.Series(list(s))
popular = s.mode()[0]
s[s == ' '] = popular
print(f"old str: {old}", f"Popular: {popular}", f"New str: {''.join(s)}")

old str: Hello world! Popular: l New str: Hellolworld!

34. Напишите программу с использованием ```Pandas```, которая вычисляет автокорреляцию заданного числового ```Series```.

In [106]:
arr = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])
arr.autocorr()

1.0

35. Напишите программу с использованием ```Pandas```, которая создает ```TimeSeries``` содержащий все воскресенья текущего года.

In [110]:
from datetime import date

year = date.today().year

dates = pd.date_range(start=f'01-01-{year}', end=f'12-31-{year}')
sundays = dates[dates.dayofweek == 6]

pd.Series(sundays)

0    2024-01-07
1    2024-01-14
2    2024-01-21
3    2024-01-28
4    2024-02-04
5    2024-02-11
6    2024-02-18
7    2024-02-25
8    2024-03-03
9    2024-03-10
10   2024-03-17
11   2024-03-24
12   2024-03-31
13   2024-04-07
14   2024-04-14
15   2024-04-21
16   2024-04-28
17   2024-05-05
18   2024-05-12
19   2024-05-19
20   2024-05-26
21   2024-06-02
22   2024-06-09
23   2024-06-16
24   2024-06-23
25   2024-06-30
26   2024-07-07
27   2024-07-14
28   2024-07-21
29   2024-07-28
30   2024-08-04
31   2024-08-11
32   2024-08-18
33   2024-08-25
34   2024-09-01
35   2024-09-08
36   2024-09-15
37   2024-09-22
38   2024-09-29
39   2024-10-06
40   2024-10-13
41   2024-10-20
42   2024-10-27
43   2024-11-03
44   2024-11-10
45   2024-11-17
46   2024-11-24
47   2024-12-01
48   2024-12-08
49   2024-12-15
50   2024-12-22
51   2024-12-29
dtype: datetime64[ns]

36. Напишите программу с использованием ```Pandas```, которая преобразует указанный ```Series``` в ```DataFrame``` в котором индексы будут являться другим столбцом.

In [111]:
arr = pd.Series([10, 20, 30, 40], name='values')
df = arr.reset_index()
df.columns = ['index', 'values']
df

   index  values
0      0      10
1      1      20
2      2      30
3      3      40

37. Напишите программу с использованием ```Pandas```, которая объединяет два заданных ```Series``` вертикально и горизонтально.

In [113]:
s1 = pd.Series([1, 2, 3, 4], name='s1')
s2 = pd.Series([5, 6, 7, 8], name='s2')

print(pd.concat([s1, s2], axis=0), pd.concat([s1, s2], axis=1))

0    1
1    2
2    3
3    4
0    5
1    6
2    7
3    8
dtype: int64    s1  s2
0   1   5
1   2   6
2   3   7
3   4   8

38. Напишите программу с использованием ```Pandas```, которая проверяет равенство двух указанных ```Series```.

In [114]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([5, 4, 3, 2, 1])

s1.equals(s2)

False

39. Напишите программу с использованием ```Pandas```, которая находит индексы первых вхождений самого большого и самого маленького значений заданного Series.

In [115]:
s = pd.Series([3, 1, 2, 4])
print(f"Max: {s.idxmax()}", f"Min: {s.idxmin()}")

Max: 3 Min: 1

40. Напишите программу с использованием ```Pandas```, которая проверяет неравенство между всеми столбцами заданного ```DataFrame``` и заданного ```Series``` поэлементно.

In [116]:
s = pd.Series([1, 2, 3])
df = pd.DataFrame(([1, 6, 3],[7, 8, 8], [1, 2, 3]))

df.ne(s, axis=0)

       0     1      2
0  False  True   True
1   True  True   True
2   True  True  False